<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontControler</servlet-name>
        <servlet-class>fr.bookcase.controleurs.FrontControler</servlet-class>
        <init-param>
            <param-name>versLogin</param-name>
            <param-value>fr.bookcase.controleurs.RedirectLogin</param-value>
        </init-param>
        <init-param>
            <param-name>versInscription</param-name>
            <param-value>fr.bookcase.controleurs.RedirectInscription</param-value>
        </init-param>
        <init-param>
            <param-name>versAccueil</param-name>
            <param-value>fr.bookcase.controleurs.RedirectAccueil</param-value>
        </init-param>
        <init-param>
            <param-name>versGestionLivre</param-name>
            <param-value>fr.bookcase.controleurs.RedirectGestionLivre</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontControler</servlet-name>
        <url-pattern>/FrontControler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>GestionUser</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>fr.bookcase.beans.GestionUserLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionUser1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>fr.bookcase.beans.GestionUserLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionLivre</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>fr.bookcase.beans.GestionLivreLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionUser2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>fr.bookcase.beans.GestionUserLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCategorie</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>fr.bookcase.beans.GestionCategorieLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCategorie1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>fr.bookcase.beans.GestionCategorieLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCategorie2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>fr.bookcase.beans.GestionCategorieLocal</local>
    </ejb-local-ref>
</web-app>
